{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "cloudformation:CreateStack",
                "cloudformation:UpdateStack",
                "cloudformation:DeleteStack",
                "route53:ChangeResourceRecordSets",
                "s3:ListBucket",
                "s3:GetObject",
                "s3:PutObject",
                "s3:ListBucket",
                "secretsmanager:GetSecretValue",
                "secretsmanager:PutSecretValue",
                "kms:CreateKey",
                "kms:ListKeys",
                "kms:ScheduleKeyDeletion",
                "kms:CancelKeyDeletion"
            ],
            "Resource": "*"
        }
    ]
}
